.box {
  background-color: #cce4f7;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 4px;
  color: #30383c;
}


/*.chooser{*/
/*  float:right;*/
/*  margin-top: -10px;*/
/*  margin-right: 10px;*/

/*}*/
div.inline {
  float:right;
  margin-top: -5px;
  margin-right: 10px;
}


.button {
  margin: 0px;

}
