.box {
  background-color: #cce4f7;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 4px;
  color: #30383c;
}

div.inline {
  float:right;
  margin-top: -5px;
  margin-right: 10px;
}


.button {
  margin: 0px;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 60px;
  line-height: 60px;
}
