
<h5>Nowe zgłoszenie</h5>
<div class="p-grid p-fluid">
  <div class="p-col-12 p-md-4">
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">Nr.</span>
      <input type="text" pInputText placeholder="Nr jira" [(ngModel)]="taskNumber">
    </div>
  </div>

  <div class="p-col-12 p-md-4" >
    <div class="p-inputgroup" >
      <span class="p-inputgroup-addon"><i class="pi pi-align-center"></i></span>
      <input type="text" pInputText placeholder="Nazwa zgłoszenia" [(ngModel)]="taskName">
    </div>
  </div>

  <div class="p-col-12 p-md-4" >
    <button pButton type="button" label="Dodaj" (click)="createTask()"   [disabled]="taskName === '' || taskNumber === ''" ></button>
  </div>
</div>






<div class="card">
  <h5>Dodane zadania:</h5>
  <div class="p-grid" *ngFor="let task of tasks; let i = index">
    <div class="p-col">
      <div class="box"> {{ i + 1 }} -{{ task.name }}</div>
    </div>
  </div>


</div>







<!--<ul>-->
<!--  <li *ngFor="let task of tasks; let i = index">-->
<!--    {{ i + 1 }} - {{ task.name }}-->
<!--  </li>-->
<!--</ul>-->







<!--<div class="card">-->
<!--  <h5>Fixed Width Column</h5>-->
<!--  <div class="p-grid">-->
<!--    <div class="p-col-fixed" style="width:100px">-->
<!--      <div class="box">100px</div>-->
<!--    </div>-->
<!--    <div class="p-col">-->
<!--      <div class="box">auto</div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
