<h5>Czas sprintu</h5>


<div class="field col-12 md:col-4">
  <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" inputId="range" [inline]="true" [locale]="pl" [disabledDates]="getFreeDays()" (onSelect)="getDatesInSprint()">


  </p-calendar>
</div>

<div>
Dodatkowe dni wolne od pracy w sprincie:
<div class="field col-12 md:col-4">
  <p-calendar selectionMode="multiple" [(ngModel)]="freeDays" [readonlyInput]="true" inputId="multiple" [locale]="pl" (onSelect)="makeDayAsFree()"></p-calendar>
</div>
</div>


Liczba wszystkich dni w sprincie: {{daysInSprint.length}}<br/>
Liczba roboczych dni w sprincie: {{daysInSprint.length -  getFreeDays().length}}<br/>
Liczba wolnych dni w sprincie: {{  getFreeDays().length}}<br/>

<!--Daty:-->
<!--<div  *ngFor="let date of daysInSprint ;">-->
<!--    {{date.date | date: 'dd.MM.yyyy'}}-->
<!--</div>-->

<div class="p-col-12 p-md-3">
  <button pButton type="button" label="Dodaj" (click)="createSprint()"
></button>
</div>
